name: Test Bot

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Test
      env:
        API_ID: ${{ secrets.API_ID }}
        SESSION: ${{ secrets.SESSION_STRING }}
      run: |
        echo "API_ID: $API_ID"
        echo "SESSION طول: ${#SESSION} کاراکتر"
        
        python3 -c "
        import os
